# Process sales data

Partiendo de la raw data de ventas, productos y categorías, limpio y mergeo los datasets

In [2]:
import pandas as pd
from gdrive import drive_list_files, download_from_drive, check_existing_file

## Ventas

In [10]:
folder_id = '1uepuL5iCVYies7GrC1YOW9Fws3NxA-Ex'
file_name = 'raw_sales.csv'
existing_files = drive_list_files(folder_id)
    
for file in existing_files:
    if file['title'] == file_name:
        file_id = file['id']
        break

if file_id:
    file_path = download_from_drive(file_id, file_name)

sales_data = pd.read_csv(file_path)

sales_data

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10088\3392980203.py:13: DtypeWarning: Columns (8,15) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_data = pd.read_csv(file_path)

,type,id,attributes.canceled,attributes.cancellationComment,attributes.comment,attributes.createdAt,attributes.price,attributes.quantity,attributes.status,relationships.priceList.data,relationships.product.data.type,relationships.product.data.id,relationships.subitems.data,relationships.sale.data.type,relationships.sale.data.id,relationships.priceList.data.type,relationships.priceList.data.id
0,Item,1,NaN,NaN,NaN,2019-10-26T02:03:12Z,800.0,2.0,NaN,NaN,Product,8,[],Sale,1,NaN,NaN
1,Item,2,NaN,NaN,NaN,2019-10-26T02:03:12Z,90.0,1.0,NaN,NaN,Product,1,[],Sale,1,NaN,NaN
2,Item,3,NaN,NaN,NaN,2019-10-26T02:03:12Z,90.0,1.0,NaN,NaN,Product,6,[],Sale,1,NaN,NaN
3,Item,4,NaN,NaN,NaN,2019-10-26T02:09:53Z,70.0,1.0,NaN,NaN,Product,3,[],Sale,2,NaN,NaN
4,Item,5,NaN,NaN,NaN,2019-10-26T02:09:53Z,70.0,1.0,NaN,NaN,Product,4,[],Sale,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298161,Item,298267,NaN,NaN,NaN,2024-07-21T22:47:25Z,7400.0,2.0,PENDING,NaN,Product,307,[],Sale,86307,NaN,NaN
298162,Item,298268,NaN,NaN,NaN,2024-07-21T22:47:25Z,4200.0,1.0,PENDING,NaN,Product,410,[],Sale,86307,NaN,NaN
298163,Item,298269,NaN,NaN,NaN,2024-07-21T23:04:50Z,2700.0,1.0,PENDING,NaN,Product,23,[],Sale,86308,NaN,NaN
298164,Item,298270,NaN,NaN,NaN,2024-07-21T23:04:50Z,2600.0,1.0,PENDING,NaN,Product,1,[],Sale,86308,NaN,NaN
298165,Item,298271,NaN,NaN,NaN,2024-07-21T23:04:50Z,15000.0,1.0,PENDING,NaN,Product,71,[],Sale,86308,NaN,NaN

In [11]:
# Renombrar columnas eliminando prefijos
sales_data.rename(columns=lambda x: x.replace('attributes.', '').replace('relationships.', ''), inplace=True)
    
sales_data = sales_data[sales_data['canceled'] != True]

# Eliminar columnas redundantes
columns_to_delete = ['id', 'type', 'canceled', 'cancellationComment', 'comment', 'price', 'status', 
                         'priceList.data', 'priceList.data.type', 'priceList.data.id', 'product.data.type', 
                         'sale.data.type', 'sale.data.id', 'subitems.data']
sales_data = sales_data.drop(columns=columns_to_delete, errors='ignore')

# Convertir columna de fecha a datetime
sales_data['createdAt'] = pd.to_datetime(sales_data['createdAt']).dt.date

In [12]:
sales_data

         createdAt  quantity  product.data.id
0       2019-10-26       2.0                8
1       2019-10-26       1.0                1
2       2019-10-26       1.0                6
3       2019-10-26       1.0                3
4       2019-10-26       1.0                4
...            ...       ...              ...
298161  2024-07-21       2.0              307
298162  2024-07-21       1.0              410
298163  2024-07-21       1.0               23
298164  2024-07-21       1.0                1
298165  2024-07-21       1.0               71

[290976 rows x 3 columns]

## Productos

In [13]:
folder_id = '1uepuL5iCVYies7GrC1YOW9Fws3NxA-Ex'
file_name = 'raw_products.csv'
existing_files = drive_list_files(folder_id)
    
for file in existing_files:
    if file['title'] == file_name:
        file_id = file['id']
        break

if file_id:
    file_path = download_from_drive(file_id, file_name)

products_data = pd.read_csv(file_path)

products_data

,type,id,attributes.active,attributes.code,attributes.description,attributes.enableOnlineMenu,attributes.enableQrMenu,attributes.favourite,attributes.imageUrl,attributes.name,...,attributes.price,attributes.sellAlone,attributes.stock,attributes.stockControl,relationships.kitchen.data.type,relationships.kitchen.data.id,relationships.productCategory.data.type,relationships.productCategory.data.id,relationships.productModifiersGroups.data,relationships.kitchen.data
0,Product,1,True,1105,NaN,NaN,NaN,True,NaN,Coca Cola,...,2600.0,NaN,NaN,False,Kitchen,1.0,ProductCategory,23,[],NaN
1,Product,2,True,700,NaN,NaN,NaN,NaN,NaN,Pizza muzzarella,...,13500.0,NaN,NaN,False,Kitchen,2.0,ProductCategory,10,[],NaN
2,Product,3,True,1,NaN,NaN,NaN,True,https://fudo-apps-storage.s3-sa-east-1.amazona...,Expresso,...,2000.0,NaN,NaN,False,Kitchen,1.0,ProductCategory,22,[],NaN
3,Product,4,True,2,NaN,NaN,NaN,True,https://fudo-apps-storage.s3-sa-east-1.amazona...,Americano,...,2100.0,NaN,NaN,False,Kitchen,1.0,ProductCategory,22,[],NaN
4,Product,5,True,104,NaN,NaN,NaN,False,https://drive.google.com/file/d/1UitzfUceKIUix...,Medialuna,...,1500.0,NaN,NaN,False,Kitchen,2.0,ProductCategory,14,[],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,Product,413,True,225,NaN,NaN,NaN,NaN,NaN,Porción de Lemon Pie,...,4200.0,True,2.0,True,Kitchen,2.0,ProductCategory,15,[],NaN
382,Product,414,True,819,NaN,NaN,NaN,NaN,NaN,Osobuco con polenta,...,9900.0,True,NaN,True,Kitchen,2.0,ProductCategory,21,[],NaN
383,Product,415,True,226,NaN,NaN,NaN,NaN,NaN,Tarta de manzana sin tacc,...,5000.0,True,NaN,False,Kitchen,2.0,ProductCategory,15,[],NaN
384,Product,416,True,227,NaN,NaN,NaN,NaN,NaN,Tarta cabsha sin tacc,...,5000.0,True,6.0,True,Kitchen,2.0,ProductCategory,15,[],NaN
385,Product,417,True,116,NaN,NaN,NaN,NaN,NaN,Porción de tostadas,...,3000.0,True,NaN,NaN,Kitchen,2.0,ProductCategory,14,"[{'type': 'ProductModifiersGroup', 'id': '36'}...",NaN

In [14]:
products_data = products_data[['id', 'attributes.name', 'attributes.active', 'relationships.productCategory.data.id']]

products_data.rename(columns={'attributes.name': 'product', 
                              'attributes.active': 'active', 
                              'relationships.productCategory.data.id': 'category_id'}, inplace=True)

products_data

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10088\1322240983.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  products_data.rename(columns={'attributes.name': 'product',

      id                    product  active  category_id
0      1                  Coca Cola    True           23
1      2           Pizza muzzarella    True           10
2      3                   Expresso    True           22
3      4                  Americano    True           22
4      5                  Medialuna    True           14
..   ...                        ...     ...          ...
381  413       Porción de Lemon Pie    True           15
382  414        Osobuco con polenta    True           21
383  415  Tarta de manzana sin tacc    True           15
384  416      Tarta cabsha sin tacc    True           15
385  417        Porción de tostadas    True           14

[386 rows x 4 columns]

In [16]:
df = pd.merge(sales_data, products_data, left_on='product.data.id', right_on='id', how='left')

df = df[df['active'] == True]

df.drop(['product.data.id', 'id', 'active'], axis=1, inplace=True)

df

         createdAt  quantity                 product  category_id
1       2019-10-26       1.0               Coca Cola           23
2       2019-10-26       1.0            Agua con gas           23
3       2019-10-26       1.0                Expresso           22
4       2019-10-26       1.0               Americano           22
5       2019-10-26       2.0               Medialuna           14
...            ...       ...                     ...          ...
290971  2024-07-21       2.0       Yogur con granola           14
290972  2024-07-21       1.0  Cheescake frutos rojos           15
290973  2024-07-21       1.0          Levite Manzana           23
290974  2024-07-21       1.0               Coca Cola           23
290975  2024-07-21       1.0        Pizza napolitana           10

[271083 rows x 4 columns]

## Categorías

In [17]:
folder_id = '1uepuL5iCVYies7GrC1YOW9Fws3NxA-Ex'
file_name = 'product_categories.csv'
existing_files = drive_list_files(folder_id)
    
for file in existing_files:
    if file['title'] == file_name:
        file_id = file['id']
        break

if file_id:
    file_path = download_from_drive(file_id, file_name)

categories_data = pd.read_csv(file_path)

categories_data

,type,id,attributes.name,attributes.preparationTime,attributes.position,relationships.kitchen.data.type,relationships.kitchen.data.id,relationships.parentCategory.data,relationships.kitchen.data,relationships.parentCategory.data.type,relationships.parentCategory.data.id
0,ProductCategory,6,Cervezas,NaN,2000000,Kitchen,1.0,NaN,NaN,NaN,NaN
1,ProductCategory,7,Tragos con alcohol,NaN,1762500,Kitchen,1.0,NaN,NaN,NaN,NaN
2,ProductCategory,8,Sándwiches,NaN,625000,Kitchen,2.0,NaN,NaN,NaN,NaN
3,ProductCategory,9,Pastas,NaN,1450000,Kitchen,2.0,NaN,NaN,NaN,NaN
4,ProductCategory,10,Pizzas,NaN,1400000,Kitchen,2.0,NaN,NaN,NaN,NaN
5,ProductCategory,11,Ensaladas,NaN,1500000,Kitchen,2.0,NaN,NaN,NaN,NaN
6,ProductCategory,12,Tartas,NaN,1600000,Kitchen,2.0,NaN,NaN,NaN,NaN
7,ProductCategory,13,Minutas,NaN,1100000,Kitchen,2.0,NaN,NaN,NaN,NaN
8,ProductCategory,14,Desayunos y meriendas,NaN,150000,Kitchen,2.0,NaN,NaN,NaN,NaN
9,ProductCategory,15,Dulces y postres,NaN,175000,Kitchen,2.0,NaN,NaN,NaN,NaN
10,ProductCategory,16,Vinos,NaN,1825000,Kitchen,1.0,NaN,NaN,NaN,NaN
11,ProductCategory,17,Para picar,NaN,687500,Kitchen,2.0,NaN,NaN,NaN,NaN
12,ProductCategory,18,Whiskies y licores,NaN,2100000,Kitchen,1.0,NaN,NaN,NaN,NaN
13,ProductCategory,21,Platos especiales,NaN,750000,Kitchen,2.0,NaN,NaN,NaN,NaN
14,ProductCategory,22,Cafetería,NaN,100000,NaN,NaN,NaN,NaN,NaN,NaN
15,ProductCategory,23,Sin alcohol,NaN,1700000,Kitchen,1.0,NaN,NaN,NaN,NaN
16,ProductCategory,24,Adicionales,NaN,2112500,NaN,NaN,NaN,NaN,NaN,NaN
17,ProductCategory,25,Guarniciones,NaN,2225000,Kitchen,2.0,NaN,NaN,ProductCategory,13.0

In [18]:
categories_data = categories_data[['id', 'attributes.name']]

categories_data.rename(columns={'id': 'category_id', 
                                'attributes.name': 'category'}, inplace=True)

categories_data

C:\Users\Usuario\AppData\Local\Temp\ipykernel_10088\2605439635.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_data.rename(columns={'id': 'category_id',

    category_id               category
0             6               Cervezas
1             7     Tragos con alcohol
2             8             Sándwiches
3             9                 Pastas
4            10                 Pizzas
5            11              Ensaladas
6            12                 Tartas
7            13                Minutas
8            14  Desayunos y meriendas
9            15       Dulces y postres
10           16                  Vinos
11           17             Para picar
12           18     Whiskies y licores
13           21      Platos especiales
14           22              Cafetería
15           23            Sin alcohol
16           24            Adicionales
17           25           Guarniciones

## Dataset final

In [19]:
df = pd.merge(df, categories_data, on='category_id', how='left')

df.drop(['category_id'], axis=1, inplace=True)

df

         createdAt  quantity                 product               category
0       2019-10-26       1.0               Coca Cola            Sin alcohol
1       2019-10-26       1.0            Agua con gas            Sin alcohol
2       2019-10-26       1.0                Expresso              Cafetería
3       2019-10-26       1.0               Americano              Cafetería
4       2019-10-26       2.0               Medialuna  Desayunos y meriendas
...            ...       ...                     ...                    ...
271078  2024-07-21       2.0       Yogur con granola  Desayunos y meriendas
271079  2024-07-21       1.0  Cheescake frutos rojos       Dulces y postres
271080  2024-07-21       1.0          Levite Manzana            Sin alcohol
271081  2024-07-21       1.0               Coca Cola            Sin alcohol
271082  2024-07-21       1.0        Pizza napolitana                 Pizzas

[271083 rows x 4 columns]

In [20]:
# Guardo en Drive
folder_id = '1uepuL5iCVYies7GrC1YOW9Fws3NxA-Ex'
existing_file_name = 'sales.csv'
check_existing_file(folder_id, existing_file_name, df, 'csv')

File 'sales.csv' uploaded as a new file on Google Drive.
Data has been uploaded as a new file on Google Drive.